<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="container">
  <h1 class="mt-5">Listar Perguntas</h1>
  
  <!-- Formulário de busca avançada -->
  <form class="mb-5" action="/pergunta/listar" method="GET">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Buscar por título" value="<%= titulo %>">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="descricao">Descrição</label>
          <input type="text" class="form-control" id="descricao" name="descricao" placeholder="Buscar por descrição" value="<%= descricao %>">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="usuario">Usuário</label>
          <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Buscar por usuário" value="<%= usuario.value %>">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label for="tempo">Tempo</label>
          <select class="form-control" id="tempo" name="tempo">
            <option value="">Selecione...</option>
            <option value="uma_hora">Última hora</option>
            <option value="um_dia">Último dia</option>
            <option value="uma_semana">Última semana</option>
            <option value="um_mes">Último mês</option>
            <option value="um_ano">Último ano</option>
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Buscar</button>
  </form>

  <div class="container-fluid">
    <% perguntas.forEach(pergunta => { %>
    <br>
    <div class="card">
      <div class="card-body">
        <h3><%= pergunta.titulo %></h3>
        <p><%= pergunta.descricao %></p>
        <p class="text-muted">Pergunta feita por <%= pergunta.usuario.nome %> - <%= pergunta.tempo %></p>
      </div>
      <div class="card-footer">
        <a href="/pergunta/<%= pergunta.id %>" class="btn btn-primary" role="button">Responder</a>
      </div>
    </div>
    <% }) %>
  </div>
</div>

<%- include('partials/footer') %>
